[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pyyaml = "*"
matplotlib = "*"
types-pyyaml = "*"
nx-yaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
