[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
matplotlib = "*"
types-pyyaml = "*"
twine = "*"
build = "*"
hatch = "*"

[requires]
python_version = "3.12"
