[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nx-yaml = "*"
discopy = "*"

[dev-packages]
pytest = "*"
twine = "*"
build = "*"

[requires]
python_version = "3.11"
